@font-face {
    font-family: InterRegular;
    src: url(/Inter_18pt-Regular.ttf);
}

* {
    font-family: 'InterRegular';
}

body {
    background-color: #dddddd;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #333;
    height: auto;
    width: max-content;
    /* border: 1px solid red; */
}

button {
    padding: 10px;
    border-radius: 8px;
    border: hidden;
    cursor: pointer;
    margin: 10px;
    background-color: #FDF5E6;
}

button:hover {
    background-color: #f5e9d4;
    
}

img {
    height: 100px;
}

.results {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* #results {
    display: none;
} */

.round {
    display: block;
    font-weight: 600;
    font-size: 25px;
    color: #333333;
    text-align: center;
    margin-bottom: 25px;
}

.score {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.human {
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 25px;
    color: #333333;
}

.computer {
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 25px;
    color: #333333;
}

.btn {
    display: flex;
    /* border: 1px solid red; */
}

.start {
    background-color: #78a355;
    color: #e9e9e9;
    font-size: 17px;
    font-weight: 500;
    padding: 10px 30px 10px 30px;
}

.start:hover {
    background-color: #6a914a;
}

#round-result {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

#winner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    text-align: center;
}


@media(max-width: 600px) {
    .container {
        height: auto;
    }

    h1 {
        font-size: 1.5rem; 
        font-weight: bold; 
        margin: 1rem 0;
      }

    img {
        height: 60px;
    }

    .versus {
        width: 35px;
        height: auto;
    }

}